---
layout: default
---
<header>
  <h1>{{ site.title }}</h1>
  <div style="width:100%; display: flex">
    <img src="profile.JPG" style="width: 40%; height: auto; margin-left: 0 !important"
        alt="profile picture"/>
  </div>
  {%-if site.theme_config.show_description-%}
    <p>{{ site.description }}</p>
  {%-endif-%}
  <p>
    I am a PhD student in mathematics at Cornell University. My primary research
    interest is the numerical analysis of PDEs. My advisor is 
    <a href="https://pi.math.cornell.edu/~ajt/">Alex Townsend</a>. Before Cornell,
    I was an undergraduate at Columbia University, where I worked with 
    <a href="https://www.math.columbia.edu/~ik/">Ioannis Karatzas</a> on bandit
    problems. I am supported by the NSF GRFP.
  </p>
  <p>
    I subscribe to Federico Ardila's <a href='https://fardila.com/'>axioms</a> and 
    the commitments of the <a href='https://www.justmathematicscollective.net/'>
    Just Mathematics Collective</a>
  </p>
</header>

{%-include menu_item.html collection=site.data.menu.entries-%}

{{ content }}
